# ----------------------
# Flask
# ----------------------
flask
BeautifulSoup
requests

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
